#forgot-page {
    background: linear-gradient(90deg, rgba(63,235,123,1) 35%, rgb(19, 116, 177) 100%);
}

#forgot-page .forgot {
    background-color: white;
    border-radius: 3rem;
}

#forgot-page label {
    /* display: block !important; */
    margin: 0.25rem;
}

#forgot-page input {
    background: #f1eeee;
    border: none;
  outline: none;
    padding-bottom: 5px;
  border-bottom: solid 2px gray;
  margin-bottom: 30px;
    min-width: 100%;
}